.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.feed-item-body {
  color: white;
  padding: 1.5rem;
  background: #1e453b;
  border-radius: 6px;
  margin: 2rem 5rem 2rem 5rem;
  box-shadow: aliceblue;
  transition: all 2s ease-out 0s;
  transition: transform -0.9s ease 0s;
  transition-property: transform;
  transition-duration: 0s;
  animation: 0.4s 0.15s backwards a;
  box-shadow: 0 10px 30px 14px rgba(3, 34, 17, 0.15);
  transition-duration: 0.2s;
  transition-property: all;
}

@keyframes backg-anim {
  from {
    -webkit-filter: hue-rotate(-20deg);
  }
  to {
    -webkit-filter: hue-rotate(40deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
